<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="HandheldFriendly" content="true">

<link rel="dns-prefetch" href="//googlesyndication.com">
<link rel="dns-prefetch" href="//google-analytics.com">
<link rel="dns-prefetch" href="//googleapis.com">
<link rel="dns-prefetch" href="//doubleclick.net">
<link rel="dns-prefetch" href="//gstatic.com">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,100,500&amp;lang=sv" media="not all" onload="if(media!='all')media='all'">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="fb:admins" content="1367613914">
<meta property="fb:app_id" content="333093076899870">

<title>{% if wp_title %} {{wp_title}}{% else %} {{site.name}} {% endif %}</title>

<link rel="pingback" href="{{site.pingback_url}}">

<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/favicons/manifest.json">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Sverige Science">
<meta name="application-name" content="Sverige Science">
<meta name="msapplication-TileColor" content="#153a50">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#153a50">

<meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=https://sverige.science/feed/&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=https://sverige.science/feed/&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=https://sverige.science/feed/&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=https://sverige.science/feed/&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=https://sverige.science/feed/&amp;id=5;cycle=1">

{{function('wp_head')}}