$biologi: #ffc107;
$kemi: #ff5722;
$halsa-medicin: #673fb4;
$teknik: #9c27b0;
$miljo: #8bc34a;
$rymden: #4054b2;
$djur-natur: #50ae54;
$manniskan: #795548;
$arkeologi: #ed6c1e;
$rymden: #3f51b5;
$fysik: #58afc5;

$main-text-color: #212121;
$main-background-color: #f2f2f2;
$main-blue: #153a50;
$secondary-blue: #236f9d;

$white: #fff;
$gray-one: #e0e0e0;
$gray-two: #aaa;
$gray-three: #999;
$neger: #000;

$title-color: #565656;
$description-color: #8d8d8d;
