@import 'colors';
@import 'categories';
@import 'fonts';
@import 'footer';

html, body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: $main-background-color;
  color: $main-text-color;
  font-family: 'Roboto', sans-serif;
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.site {
  display: flex;
  flex-direction: column;
}

.main-header {
  align-items: center;
  background-color: $main-blue;
  //border-bottom: 1px solid $gray-one;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;

  &.fixedsticky {
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .site-title {
    color: $white;
    flex: 1;
    font-weight: 300;
    text-decoration: none;
  }

  .current-category {
    @include category-background-color;
    color: $white;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .02rem;
    padding: 1.25rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  padding: .5rem 1rem;
  width: 32px;
  margin: 0;
  background-color: $main-blue;

  svg {
    overflow: visible;

    path {
      stroke-width: 11;
    }

    circle:not(#Sun) {
      display: none;
    }
  }
}

main {
  flex: 1;
  margin: 0 auto;
  max-width: 650px;
  overflow: hidden;

  .ad-area {
    margin: 2rem auto;
    background-color: white;
    padding: 1rem 2rem;
  }
}

#svg-filter {
  height: 0; 
  position: absolute;
}

.googlepublisherpluginad {
  margin: 2rem;
  padding: 1rem 0;
  width: auto !important;
}

article {
  background-color: $white;
  margin-bottom: 0;
  padding-bottom: 2rem;

  .like {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 2rem;

    & > span {
      &.facebook {
        margin-left: 0;
      }
      &.google-plus {
        margin-left: 1.25rem;
        transform: translateY(2px);
      }
    }
  }
  
  iframe {
    display: block;
    width: 100%;
  }

  .article-body {
    padding: 0 2rem;

    h1, h2, h3 {
      font-weight: 300;
    }
  }

  p {
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 1.7rem 0;
    font-family: 'Freight Text Pro', Georgia, serif;
    
    img {
      max-width: 100%;
      display: block;
      height: auto;
    }
  }

  header {
    h1 {
      color: $title-color;
      font-weight: 400;
      line-height: 2rem;
      margin: 0;
      padding: 2rem 2rem 0;
    }
  }

  .article-imagery {
    width: 100%;
    margin: 0;
    padding: 0;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
}

section {
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;

  h3 {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.share {
  .share-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .share-button {
      flex: 1 1 auto;
      border: 1px solid currentColor;
      padding: .75rem 1rem;
      margin: 0 .5rem;
      text-align: center;
      transition: all 150ms ease;

      &:hover {
        color: $white;

        &.facebook {
          $media-color: #3B5998;
          background-color: $media-color;
          border-color: darken($media-color, 20);
        }
        &.twitter {
          $media-color: #00aced;
          background-color: $media-color;
          border-color: darken($media-color, 20);
        }
        &.reddit {
          $media-color: #FF4500;
          background-color: $media-color;
          border-color: darken($media-color, 20);
        }
        &.google-plus {
          $media-color: #dd4b39;
          background-color: $media-color;
          border-color: darken($media-color, 20);
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.meta {
  align-items: center;
  border-top: 1px solid $gray-one;
  display: flex;
  font-weight: 300;
  letter-spacing: .02rem;
  margin: 2rem 2rem -2rem 2rem;
  padding: 1rem 0;
  
  .author {
    align-items: center;
    display: flex;
    flex: 1;
    margin: 0;

    figcaption {
      margin-left: 1rem;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    img {
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 128px;
    }
  }
}

@media (max-width: 600px) {
  main {
    max-width: none;
    width: 100%;
    overflow-x: hidden;
  }
}